<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appedu Events Center</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script>
    $(document).ready(function() {
        $("#rollbutton").click(function() {
            $('html,body').animate({ scrollTop: $('#roll').offset().top - 30 }, 1000); //1460
        });
    });
    </script>
</head>

<body>
    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index">
                   <span class="glyphicon glyphicon-knight"></span>
                    Appedu Events Center
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="http://appedu.com.tw">首頁</a>
                    </li>
                    <li>
                        <a href="./weiwei">Wei 喂!</a>
                    </li>
                    <li>
                        <a href="./gh">金赫獎</a>
                    </li>
                    <li>
                        <a href="#">Test#</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Appedu<br>Events Center </h1>
                <p>All Projects Made by Leo will be uploaded here</p>
                <button id="rollbutton" class="btn btn-primary btn-lg">Lets Roll!</button>
            </div>
        </div>
    </header>
    <!--  <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <span class="glyphicon glyphicon-apple" style="font-size: 60px"></span>
                    <h2 class="section-heading">Completely synergize resource taxing relationships</h2>
                    <p class="text-light">Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                </div>
            </div>
        </div>
         </section> -->
    <div class="container-fluid">
        <div id="roll">
            <div class="row promo">
                <a href="./weiwei">
                    <div class="col-md-4 promo-item item-1">
                        <h3>
                        Wei, 喂!
                    </h3>
                    </div>
                </a>
                <a href="./gh">
                    <div class="col-md-4 promo-item item-2">
                        <h3>
                        金赫獎
                    </h3>
                    </div>
                </a>
                <a href="#">
                    <div class="col-md-4 promo-item item-3">
                        <h3>
                        test
                    </h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="../images/photo.jpg" alt="">
                </div>
                <div class="col-sm-6">
                    <h2 class="section-header">Lets Get Started</h2>
                    <p class="lead text-muted">Sections above will direct you to the Event page!</p>
                    <a href="./weiwei" class="btn btn-primary btn-lg">Start the Tour!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="section-header">Superior Quality</h2>
                    <p class="lead text-light">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                    <a href="#" class="btn btn-default btn-lg">Test It</a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="../images/iphone.jpg" alt="">
                </div>
            </div>
        </div>
    </section>  -->
    <section class="content content-3">
        <div class="container">
            <h2 class="section-header"><span class="glyphicon glyphicon-pushpin text-primary"></span><br> 前往官方網站</h2>
            <p class="lead text-muted"> 別具特色的設計學院，打造鑽石級的未來，設計學習的第一品牌。
                <br>跳脫制式化填鴨式教學的 完美設計學習風格浸身設計環境，學、聽、玩的輕鬆教學環境，更能啟發您的IDEA創意。
            </p>
            <a href="http://www.appedu.com.tw" class="btn btn-primary btn-lg">出發!</a>
        </div>
        </div>
    </section>
    <footer class="page-footer">
        <div class="contact">
            <div class="container">
                <h2 class="section-heading">Contact Us</h2>
                <p><span class="glyphicon glyphicon-earphone"></span>
                    <br> 0800-885-222
                    <br>09:00-22:00(週日除外)</p>
                <p><span class="glyphicon glyphicon-envelope"></span>
                    <br> appedu@appedu.com.tw</p>
            </div>
        </div>
        <div class="small-print">
            <div class="container">
                <p>Copyright &copy; 2017 appedu</p>
            </div>
        </div>
    </footer>
    <script src="../javascripts/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../javascripts/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="../javascripts/jquery.easing.min.js"></script>
    <!-- Custom Javascript -->
    <script src="../javascripts/custom.js"></script>
</body>

</html>